# Python virtual environment
yolov8-h/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*/**/__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Logs and output
*.log
*.csv
*.json


# Model weights
*.pt
*.onnx
